body {
    font-size: 14px;
    width: 800px;
}

@media screen and (max-widht: 424px) {
    body {
         background: lightgreen;
         width: 100%;
     }
     .puhelin{
         display: block;
     }
     .tabletti{
         display: none;
     }
     .desktop{
         display: none;
     }
 }

@media only screen and(min-widht: 424px) {
     body {
         background: lightblue;
     }
     .puhelin{
         display: none;
     }
     .tabletti{
         display: block;
     }
     .desktop{
         display: none;
     }
 }

@media only screen and (min-widht: 992px) {
     body {
         background: lightgrey;
     }
     .puhelin{
         display: none;
     }
     .tabletti{
         display: none;
     }
     .desktop{
         display: block;
     }
 }

